###> symfony/framework-bundle ###
symfony-app/.env.local
symfony-app/.env.local.php
symfony-app/.env.*.local
symfony-app/config/secrets/prod/prod.decrypt.private.php
symfony-app/public/bundles/
symfony-app/var/
symfony-app/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
symfony-app/phpunit.xml
symfony-app/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
symfony-app/.phpunit.result.cache
symfony-app/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
symfony-app/public/assets/
symfony-app/assets/vendor/
###< symfony/asset-mapper ###